.student-container {
  display: block;
  margin-top: 100px;
  padding: 15px;

  mat-form-field {
    width:50%;
  }


  table {
    width: 100%;
  }

  .icon {
    padding: 0 14px;
  }

  .controls {
    display: flex;
  }
}

